{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": ">0.25%, not ie <= 11, not android 4.4.3"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    ["babel-plugin-typescript-to-proptypes", { "comments": true }]
  ]
}
