{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "last 2 versions, not ie <= 11, not android 4.4.3"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
